//bootstrap vars reference: node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss

//colors
$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$body-bg:               #fff !default;
$text-color:            #333 !default;  //** Global text color on `<body>`.

//fonts
$font-family-base: 'Arial', sans-serif;
$font-size-base: 16px !default;

//responsive
//$screen-sm: 1200px !default;
